# Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [125]:
import re
sample_text='Python Exercises, PHP exercises.'
print (re.sub('[, .]', ':', sample_text))

Python:Exercises::PHP:exercises:

# Write a Python program to find all words starting with 'a' or 'e' in a given string.

In [23]:
text= 'ant, egg, fish, award'
match= re.findall('[ae]\w*', text)
print('Matches:', match)

Matches: ['ant', 'egg', 'award']

# Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [41]:
text=(' A great adventure was wonderland book')
matches= re.compile(('\w{4,}'))
result= matches.findall(text)
print(result)

['great', 'adventure', 'wonderland', 'book']

# Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [57]:
text=(' A great adventure was wonderland book so buy it')
matches= re.compile((r'\b\w{3,5}\b'))
result= matches.findall(text)
print(result)

['great', 'was', 'book', 'buy']

# Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [33]:
sample= "example (.com) " "hr@fliprobo (.com) " "github (.com) " "Hello (Data Science World) "  "Data (Scientist)"

print(re.sub("[()]","" ,sample))

example .com hr@fliprobo .com github .com Hello Data Science World Data Scientist

# Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [28]:
new= re.sub(r'\([^)]*\)', '', sample)
print(new)

example  hr@fliprobo  github  Hello  Data

# Write a regular expression in Python to split a string into uppercase letters.

In [7]:
text= 'ImportanceOfRegularExpressionsInPython'
patt= (re.findall(r'[A-Z][a-z]*', text))
print(patt)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Create a function in python to insert spaces between words starting with numbers.

In [112]:
sample= 'RegularExpression1IsAn2ImportantTopic3InPython'
patt= (re.split('(\d{1,3}\S*)', sample))
print(patt)

['RegularExpression', '1IsAn2ImportantTopic3InPython', '']

# Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [111]:
sample= 'RegularExpression1IsAn2ImportantTopic3InPython'
patt= (re.split('(\d+)', sample))
print(patt)

['RegularExpression', '1', 'IsAn', '2', 'ImportantTopic', '3', 'InPython']

# Write a python program to extract email address from the text stored in the text file using Regular Expression.

In [118]:
sample= '''
Hello my name is Data Science and my email address is xyz@domain.com and alternate email address is xyz.abc@sdomain.domain.com. 
Please contact us at hr@fliprobo.com for further information. 
'''

re.findall(r"[\w.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+", sample)

['xyz@domain.com', 'xyz.abc@sdomain.domain.com', 'hr@fliprobo.com']

# Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [12]:
sample='An ant # with 8_legs @ '
patt= re.findall(r"[\w*\_]+", sample)
print(patt)

['An', 'ant', 'with', '8_legs']

# Write a Python program where a string will start with a specific number.

In [21]:
str = '1 - Python is a programming language.'
x = re.search('1', str)

if(x!=1):
	print('The line starts with \'1\'.')
else:
	print('The line does not start with \'1\'.')

The line starts with '1'.

# Write a Python program to remove leading zeros from an IP address

In [29]:
ip= '20.004.03.49'
patt= re.sub(r'\b0+','', ip)
print(patt)

20.4.3.49

# Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [63]:
text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
patt= re.findall("\d+ (January|February|March|April|May|June|July|August|September|October|November|December)((19[7-9]\d|20\d{2})|\d{2})", text)
print(patt)

[]

# Write a Python program to search some literals strings in a string.

In [83]:

text= 'The quick brown fox jumps over the lazy dog' 
patt= ('fox', 'dog', 'horse')
for pattern in patterns:
    print('For "%s" in "%s" -' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

For "fox" in "The quick brown fox jumps over the lazy dog" -
Matched!
For "dog" in "The quick brown fox jumps over the lazy dog" -
Matched!
For "horse" in "The quick brown fox jumps over the lazy dog" -
Not Matched!

# Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [115]:
text= 'The quick brown fox jumps over the lazy dog'
word= 'fox' 
match = re.search(word, text)
   

print('Start Index:', match.start())
print('End Index:', match.end())
print('For "%s" in "%s" -' % (word, text),)

Start Index: 16
End Index: 19
For "fox" in "The quick brown fox jumps over the lazy dog" -

# Write a Python program to find the substrings within a string.

In [106]:
text= 'Python exercises, PHP exercises, C# exercises'
pattern= 'exercises'
matches= re.findall(pattern, text)
print(matches)

['exercises', 'exercises', 'exercises']

# Write a Python program to find the occurrence and position of the substrings within a string.

In [124]:
text= 'Python exercises, PHP exercises, C# exercises'
pattern= 'exercises'

for match in re.finditer(pattern, text):
    start = match.start()
    end = match.end()
    print('Found "%s" at %d:%d' % (text[start:end], start, end))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

# Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [141]:
text= '1995-11-22'
patt= re.sub(r'(\d{4})-(\d{2})-(\d{2})', '\\3-\\2-\\1', text)
print(patt)

22-11-1995

# Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [159]:
def decimal(num):
    
  dnumre = re.compile(r"^[0-9]+(\.[0-9]{1,2})?$")
  match= dnumre.search(num)
  return bool(match)
print(decimal('5.33'))

True

# Write a Python program to separate and print the numbers and their position of a given string.

In [165]:
text= 'I am 45 years old today'

for num in re.finditer("\d+", text):
    print(num.group(0))
    print('Start Index:', num.start())

45
Start Index: 5